<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ include file="version.t4" #>
<#@ output extension=".json" #>
{
    "ID":           "AutoConnections",
    "Author":       "Tahvohck",
    "Version":      "<#= this.version #>.<#= this.buildID #>",
    "EntryMethod":   "FALSE-STUB",

    "DisplayName":  "Automatically Create Connections",
    "Requirements": [ "PBUtilities" ]
}
